@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models
@{
    int j = 0;

    Layout = "Master.cshtml";
    string carouselId = "galleryImages";
    IEnumerable<IPublishedContent> carousel = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>(carouselId);
    //Response.Redirect("/Casinos");
    string guidstr = "";
    if (Culture == "en-US")
    {
        guidstr = "380435a1-a234-41c8-af6c-5600b44f2061";
    }
    if (Culture == "pl")
    {
        guidstr = "21cb3b79-5a9b-4c3d-a68a-9cf62ca858af";
    }
    Guid guid = new Guid(guidstr);
    var cs = ApplicationContext.Services.ContentService;
    var reviewChildrens = cs.GetById(guid).Children();

}






@if (carousel != null && carousel.Any())
{
    var logoList = carousel.Where(x => x.IsVisible());
    <!-- Testimonials -->
    <div class="bg-color-graish pt-80px pb-100px">
        <div class="container">
            <div class="text-center mb-15px">
                <h4>What our awesome customers say ?</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonials_box" class="owl-carousel testimonials testimonials_box">
                        @foreach (var logo in logoList)
                        {
                            string title = logo.HasValue("slideTitle") ? logo.GetPropertyValue<string>("slideTitle") : "";
                            string subtitle = logo.HasValue("slideSubtitle") ? logo.GetPropertyValue<string>("slideSubtitle") : "";
                            string imageTitle = logo.HasValue("slideImageTitle") ? logo.GetPropertyValue<string>("slideImageTitle") : "";
                            string imageAlt = logo.HasValue("slideImageAlt") ? logo.GetPropertyValue<string>("slideImageAlt") : "";
                            string imageUrl = logo.HasValue("slideImage") ? logo.GetPropertyValue<IPublishedContent>("slideImage").Url : "/img/carousel.jpg";
                            string link = logo.HasValue("slideLink") ? logo.GetPropertyValue<string>("slideLink") : "";

                            <div class="testimonial">
                                <div class="row small-gutters align-items-center mb-25px">
                                    <div class="col-4">
                                        <div class="testimonial-img">
                                            <img class="rounded-circle" src="@imageUrl" alt="@imageAlt" title="@title">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="client">
                                            <div class="client-info">
                                                <span class="client-name">
                                                    <a href="http://www.energeticthemes.com/">@title</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    @subtitle
                                </p>
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
}