@using Nomad.Models.ArticleModels
@using Umbraco.Core
@using Nomad.Helpers;
@model IEnumerable<ArticleModel>
@{
    Layout = null;
}

<!-- Blogs -->
<div class="blog-page bg-color-gray">
    <div data-aos="fade-down">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row blog_posts stander_blog blog-list">
                        @foreach (var item in Model)
                        {
                            var body = HtmlRemoval.StripTagsRegex(item.Body);
                            string[] words = body.Split();
                            var wordsString = words.Take(5);
                            string subTitle = string.Join(" ", wordsString) + " ...";
                            if (string.IsNullOrEmpty(subTitle))
                            {
                                subTitle = "More...";
                            }
                            <div class="col-md-6 col-lg-4 blog-item">
                                <article class="blog-article">
                                    <div class="card-blog-content">
                                        <h5 class="post_title">
                                            <a href="@item.SiteUrl">
                                                @Html.Raw(item.Title)
                                            </a>
                                        </h5>
                                        <div class="post_meta_top">
                                            <span class="post_meta_date">@(item.DatePublished.HasValue ? item.DatePublished.Value.ToString("MMM dd, yyyy") : "")</span>
                                        </div>
                                        <div class="post_content">
                                            <p>
                                                @subTitle
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>